<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include partials/_head.ejs %>
	</head>
	<body class="container-fluid p-0 bg-light"  data-spy="scroll" data-target="#navbarNav" data-offset="0">
		<%- include partials/_header %>
		<%- include partials/_plan %>
		<%- include partials/_trips %>
		<%- include partials/_footer %>
	</body>
</html>