<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include partials/_head.ejs %>
	</head>
	<body class="container-fluid p-0 bg-light"  data-spy="scroll" data-target="#navbarNav" data-offset="0">
		<%- include partials/_header %>
		<%- include partials/_login %>
		<%- include partials/_description %>
		<%- include partials/_tutorial %>
		<%- include partials/_contact %>
		<%- include partials/_footer %>
	</body>
</html>